<center>
<img src="http://www.nkfu.com/wp-content/uploads/2010/10/kitap.gif" class="img-circle">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Isbn:</strong>
  <%= @book.isbn %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-warning btn-xs' %> |
<%= link_to 'Back', books_path, class: 'btn btn-info btn-xs' %>
</center>