<center>
<h1>Tüm Gönderiler</h1>

<table>
  <tr>
    <th>Başlık</th>
    <th>İçerik</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
 
<% @posts.each do |post| %>
  <tr>
    <td><%= post.title %></td>
    <td><%= post.text %></td>
    <td><%= link_to 'Göster', post_path(post) %></td>
    <td><%= link_to 'Düzenle', edit_post_path(post) %></td>
    <td><%= link_to 'Sil', post_path(post),
                    method: :delete, data: { confirm: 'Baakk, emin misin?' } %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Yeni Gönderi', new_post_path %>
</center>