<center>
<img src="http://www.horsecarecourses.com/.a/6a015391a867e3970b017d3db85d9d970c-pi" class="img-circle">
<p><h1>
  <strong>Başlık:</strong>
  <%= @post.title %>
</h1></p>
 
<p><h1>
  <strong>İçerik:</strong>
  <%= @post.text %>
</h1></p>

<h2>Yorumlar</h2>
<%= render @post.comments %>

<h2>Yorum Eklemek İstersen Karala Birşeyler:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Geri', posts_path, class: 'btn btn-info btn-sm' %>
| <%= link_to 'Düzenle', edit_post_path(@post), class: 'btn btn-warning btn-sm' %>
</center>