<center>
<p><h1>
  <strong>Başlık:</strong>
  <%= @post.title %>
</h1></p>
 
<p><h1>
  <strong>İçerik:</strong>
  <%= @post.text %>
</h1></p>

<h2>Yorumlar</h2>
<%= render @post.comments %>

<h2>Yorum Eklemek İstersen Karala Birşeyler:</h2>
<%= render 'comments/form' %>
 
<%= link_to 'Geri', posts_path %>
| <%= link_to 'Düzenle', edit_post_path(@post) %>
</center>